h1 {
    text-align: center;
    color: green;
    font-size: 2em;
}

p {
    color: rgb(5, 4, 4);
}

body {
    background-color: lightgray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

div {
    padding: 20px;
    margin: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    max-width: 400px;
    width: 100%;
    margin: 10px auto;
    margin-left: 0;
    margin-right: 0;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}